SECRET_KEY=cambie-esta-clave-para-produccion
ADMIN_PASSWORD=
APP_NAME=Propuestas de ajuste al Estatuto

DB_ENGINE=sqlite

# Más adelante, para PostgreSQL cambie DB_ENGINE y defina DATABASE_URL:
# DB_ENGINE=postgres
# DATABASE_URL=postgresql://usuario:clave@localhost:5432/formulario_estatuto
